@charset "utf-8";
/* CSS Document */

.logo{
	width: 5em;
	height: 5em;
	
}
.body{
	margin-top: 1500em;
	background-image:url(../Images/210891.jpg);
}
.head{
background: rgb(20,20,19);
background: linear-gradient(4deg, rgba(20,20,19,0.8127626050420168) 19%, rgba(7,69,221,0.9332107843137255) 90%);
}
.text1{
	font-size: 1.3em; 
	margin-left: 1.2em;
	letter-spacing: 0.2em;
}
.dropdown-item{
	font-weight: 600;
	font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
}
.drop-item-a{
background: rgb(20,20,19);
background: linear-gradient(4deg, rgba(20,20,19,0.8127626050420168) 19%, rgba(7,69,221,0.9332107843137255) 90%);
}

.hello1{
	position: absolute;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.35);
	text-align: justify;
	color: white;
	font-size: 1.3em;
	font-family: inherit;
	letter-spacing: 0.07em;
}
.hello
{
	position: absolute;
	color: white;
	font-size: 2.2em;
	margin-top: 1.1em;
	float: left;
	font-family: inherit;
	letter-spacing: 0.04em;
}
.my-image
{
	width: 15em;
	height: 15em;
}
.about-section{
	background: rgb(230,242,26);
background: linear-gradient(35deg, rgba(230,242,26,0.9472163865546218) 16%, rgba(137,241,50,0.9612219887955182) 100%);
}
.about{
	border-radius: 2em 0em;
background: rgb(99,235,13);
background: linear-gradient(0deg, rgba(99,235,13,0.37298669467787116) 10%, rgba(255,255,255,0.7399334733893557) 100%);
	font-family: serif;
	
}
.about-heading{
	letter-spacing: 0.06em;
	font-family: 'Pacifico', cursive;
	line-height: 1.35em;
}
.about-content{
	font-family: 'Castoro', serif;
	font-size: 1.4em;
	letter-spacing: 0.01em;
	font-weight:500;
}

.card-image1{
	width: 100%;
	height: 8em;
 background: rgb(1,1,1,);
background: linear-gradient(0deg, rgba(1,1,1,0.9) 42%, rgba(254,255,253,0.5) 50%, rgba(1,1,1,1) 61%);

}
.card{
	background: rgba(255, 255, 255, 0.8);
z-index: 2;
	
}
.card-img-top{
	text-align: center;
	color: green;
	font-size: 3em;
}
